<a routerLink="" class="nav-link">Listagem</a>
<hr>
<form [hidden]="!novo"  (ngSubmit)="onSubmit()" class="col-md-12" *ngIf="novo"><br>
  <div class="col-md-12 form-group">
    <label for="nome">Nome</label>
    <input type="text" placeholder="Blumenau, BR" class="form-control" id="nome" required [(ngModel)]="cidade.nome" name="nome">
  </div>
  <br><br>
  <div class="card-block text-right" style="margin-right: 15px;">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div><br>
</form>
<table class="table table-striped table-active" *ngIf="!novo">
  <tbody>
    <tr class="col-md-12 form-group" *ngFor="let previsao of previsoes">
      <td>
        <h5><b>{{cidade.nome}}, {{cidade.pais}} </b> <img src="{{urlImg}}"></h5>
        <p>{{previsao.dt}}</p>
        <p><b><i> {{previsao.weather[0].description}} </i></b> <span class="badge badge-info">{{previsao.temp.day}}°С </span></p>
        <p>
          <b>Previsao: </b> manhã {{previsao.temp.morn}}°С,  noite {{previsao.temp.night}}°С
          mínima {{previsao.temp.min}}°С, máxima {{previsao.temp.max}}°С, vento com velocidade de {{previsao.speed}} m/s, nuvens {{previsao.clouds}}%, chuva {{previsao.rain}}%, umidade {{previsao.humidity}}%</p>
          <p>Coordenadas [{{cidade.coordenadas.lat}}, {{cidade.coordenadas.lon}}]</p>
        </td>
      </tr>
    </tbody>
</table>
