<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th width="10%">ID</th>
      <th width="65%">Nome</th>
      <th width="15%">País</th>
      <th width="10%">Previsões</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cidade of cidades">
      <td align="center">{{cidade.id}}</td>
      <td>{{cidade.nome}}</td>
      <td>{{cidade.pais}}</td>
      <td align="center">
        <span (click)="gotToDetails(cidade)" class="glyphicon glyphicon-globe" style="cursor: pointer;" aria-hidden="true"
        data-toggle="tooltip" data-placement="top" title="Visualizar previsões."></span>
      </td>
    </tr>
  </tbody>
  <jw-pagination [items]="cidades" (changePage)="onChangePage($event)"></jw-pagination>
</table>
